



<div class="main_con2">
  <div>
    <div class="menuMakerTit">
      <h1>添加修改控制菜单</h1>
      <img src="/assets/menuMaker.png" />
    </div>

    <div class="menuMakerDtl">
      <ul class="menuLv1">
        <li>
          <span class="scd_btn" name="menuInfo">1</span>
          <ul class="menuLv2">
            <li><span class="scd_btn" name="menuInfo">1-1</span><img src="/assets/menuLv2_1.png" /></li>
            <li><span>1-2</span><img src="/assets/menuLv2_2.png" /></li>
            <button class="addMenuItem">+</button>
          </ul>
        </li>
        <li>
          <span>2</span>
          <ul class="menuLv2">
            <li><span>2-1</span><img src="/assets/menuLv2_1.png" /></li>
            <li><span>2-2</span><img src="/assets/menuLv2_2.png" /></li>
            <button class="addMenuItem">+</button>
          </ul>
        </li>
        <button class="addMenuItem">+</button>
      </ul>
    </div>
  </div>
</div>


<div class="second_bg"></div>
<div class="second_box menuInfo">
  <div class="second_content" style="width: 450px;">
    <span class="close" title="关闭">×</span>
    <h1>编辑菜单信息</h1>
    <div>
      <p>
        <label>菜单名称</label>
        <input type="text" />
      </p>
      <p>
        <label>链接1</label>
        <span>sdsd</span>
        <span class="check checked">
          <span class="checkPoint"></span>
        </span>
      </p>
      <p>
        <label>链接1</label>
        <span>sdsd</span>
        <span class="check">
          <span class="checkPoint"></span>
        </span>
      </p>
    </div>
    <div class="scdBoxAct">
      <button class="orangeBtn">确定</button>
      <button class="orangeBtn">取消</button>
    </div>

  </div>
</div>

