<div class="area">
  <div class="title clearAfter">
    <h1>微信公众号自定义菜单</h1>
    <div class="seek">

    </div>
  </div>
  <div class="content" style="position: relative;">
    <div class="menuLv2_box">
      <span>二级菜单(最多5个)</span>
      <% @father_menus.each_with_index do |fm,index| %>
        <ul style="left: <%=150+index*120%>px;">
          <li><a href="#" class="add">+</a></li>
          <% @child_menus[fm.id.to_s].each do |cm| %>
            <li><p><%= cm.name %></p></li>
          <%end if @child_menus[fm.id.to_s]%>
        </ul>
      <%end%>
    </div>
    <div class="menuLv1_box">
      <span>一级菜单(最多3个)</span>
      <ul>
        <% @father_menus.each do |fm| %>
          <li><p><%= fm.name %></p></li>
        <%end%>
        <li><a href="#" class="add" onclick="add_menu_new(1,0,<%=@father_menus.length%>)">+</a></li>
      </ul>
    </div>
    <img src="/assets/menu_temp.png" style="position: absolute; top: 20px; right: 20px;" />
  </div>
</div>



<div class="tab add_menu_new">
  <a href="#" class="close">close</a>
  <h1>添加菜单项</h1>
  <div class="tab_content">
    <div class="new_job">
      <ul>
        <li>
          <label>菜单名称：</label>
          <input type="text" id="menu_name"/>
        </li>
        <li>
          <label>指向地址：</label>
          <div class="linkPicker">
            <ul class="tab_1">
              <li class="hover">微网页</li>
              <li>职位</li>
              <li>其他</li>
            </ul>
            <ul class="tabDiv_1 hover">
              <li><div class="cr_input"><input name="website_page" type="radio" value=""><p>我的简历</p></div></li>
              <li><div class="cr_input"><input name="website_page" type="radio" value=""><p>公司介绍</p></div></li>
              <li><div class="cr_input"><input name="website_page" type="radio" value=""><p>xx职位介绍</p></div></li>
            </ul>
            <div class="tabDiv_1">
              <ul class="tab_2">
                <li class="hover">全部</li>
                <li>最新</li>
                <li>职位类别</li>
              </ul>
              <ul class="tabDiv_2 hover">
                <li><div class="cr_input"><input name="all_position" type="radio" value=""><p>采购</p></div></li>
                <li><div class="cr_input"><input name="all_position" type="radio" value=""><p>人事</p></div></li>
                <li><div class="cr_input"><input name="all_position" type="radio" value=""><p>开发</p></div></li>
              </ul>
              <ul class="tabDiv_2">
                <li><div class="cr_input"><input name="newest_position" type="radio" value=""><p>采购</p></div></li>
                <li><div class="cr_input"><input name="newest_position" type="radio" value=""><p>人事</p></div></li>
                <li><div class="cr_input"><input name="newest_position" type="radio" value=""><p>开发</p></div></li>
              </ul>
              <ul class="tabDiv_2">
                <li><div class="cr_input"><input name="position_type" type="radio" value=""><p>采购类</p></div></li>
                <li><div class="cr_input"><input name="position_type" type="radio" value=""><p>人事类</p></div></li>
                <li><div class="cr_input"><input name="position_type" type="radio" value=""><p>开发类</p></div></li>
              </ul>
            </div>
            <ul class="tabDiv_1">
              <li><div class="cr_input"><input name="" type="radio" value=""><p>我的简历</p></div></li>
              <li><div class="cr_input"><input name="" type="radio" value=""><p>公司介绍</p></div></li>
              <li style="width: auto;"><div class="cr_input">
                  <input name="" type="radio" value="">
                  <p>外部链接</p>
                  <input type="text" style="margin: 0 13px; width: 320px;">
                </div></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="tab_btn">
    <button class="green_btn">确定</button>
  </div>
</div>






















