<%=form_for(:positions,url:company_positions_path(@company)) do%>
<input type="hidden" class="id" name="positions[id]" value="" />
<p>
	<label>职位类型</label>
        <select id="types" name="positions[types]" style="margin-left: 19px;">
           <option value="0">请选择...</option>
           <%@position_types.each do |pt|%>
           <option value="<%=pt.id%>"><%=pt.name%></option>
           <%end%>
        </select>
</p>
<p>
	<label>职位名称</label>
	<input type="text" name="positions[name]"/>
</p>
<p>
	<label>职位描述</label>
	<textarea name="positions[description]" ></textarea>
</p>
<p>
	<button class="orangeBtn" type="button" onclick="check_position()">
		确定
	</button>
</p>
<%end%>
