<%=form_for(@position) do%>
<p>
	<label>职位名称</label>
	<input type="text" />
</p>
<p>
	<label>职位描述</label>
	<textarea></textarea>
</p>
<p>
	<button class="orangeBtn">
		确定
	</button>
</p>
<%end%>
