<%=form_for(:positions,url:company_positions_path(@company)) do%>
<input type="hidden" class="id" name="positions[id]" value="" />
<p>
	<label>职位名称</label>
	<input type="text" name="positions[name]"/>
</p>
<p>
	<label>职位描述</label>
	<textarea name="positions[description]" ></textarea>
</p>
<p>
	<button class="orangeBtn">
		确定
	</button>
</p>
<%end%>
