<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="js/jquery-1.8.3.js" type="text/javascript"></script>
<script src="js/main.js" type="text/javascript"></script>
<link href="style/style.css" rel="stylesheet" type="text/css" />
<title>微招聘-招聘职位</title>
<script>
	$(function(){
		
	})
</script>

</head>

<body>
	<div class="header">
		<div class="logo">微招聘</div>
		<div class="userInfo">
			<span>user</span>
			<ul>
				<li>1</li>
				<li>1</li>
			</ul>
		</div>
	</div>
	
	<div class="main">
		<div class="leftMenu">
			<ul>
				<li class="leftMenuItem">设置</li>
				<li class="leftMenuItem hover">招聘职位</li>
				<li class="leftMenuItem">简历模板</li>
				<li class="leftMenuItem">公司简介</li>
				<li class="leftMenuItem">菜单</li>
				<li class="leftMenuItem">导出简历</li>
			</ul>
		</div>
		<div class="main_con2">
			<div>
				<div class="toolbar">
					<div class="toolBox">
						<button>创建职位</button>
					</div>
					<div class="searchTool">
						<div class="searchBox">
							<input type="text" value="搜索职位" />
							<button class="search_btn"></button>
						</div>
					</div>
				</div>
			
				<table class="table1">
					<tr>
						<th>职位名称</th>
						<th>职位描述</th>
						<th>操作</th>
					</tr>
					<tr>
						<td>HR经理</td>
						<td>负责全面的HR事物与部门协调</td>
						<td>
							<button class="delete" title="删除"></button>
							<button class="edit" title="修改"></button>
							<button class="publish" title="发布职位"></button>
						</td>
					</tr>
					<tr>
						<td>HR经理</td>
						<td>负责全面的HR事物与部门协调</td>
						<td>
							<button class="delete" title="删除"></button>
							<button class="edit" title="修改"></button>
							<button class="publish" title="发布职位"></button>
						</td>
					</tr>
					<tr>
						<td>HR经理</td>
						<td>负责全面的HR事物与部门协调</td>
						<td>
							<button class="delete" title="删除"></button>
							<button class="edit" title="修改"></button>
							<button class="publish" title="发布职位"></button>
						</td>
					</tr>
					<tr>
						<td>HR经理</td>
						<td>负责全面的HR事物与部门协调</td>
						<td>
							<button class="delete" title="删除"></button>
							<button class="edit" title="修改"></button>
							<button class="publish" title="发布职位"></button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	
	<div class="second_bg"></div>
	<div class="second_box second_box_fixed companyInfoEdit">
		<div class="second_content" style="width: 450px;">
			<span class="close" title="关闭">×</span>
			<h1>公司信息编辑</h1>
			<div>
				<p>
					<label>公司名称</label>
					<input type="text" />
				</p>
				<p>
					<label>微信公众账号</label>
					<input type="text" />
				</p>
				<p>
					<label>是否配置APP</label>
					<input type="text" />
				</p>
			</div>
			<div class="scdBoxAct">
				<button class="orangeBtn">确定</button>
				<button class="orangeBtn">取消</button>
			</div>
			
		</div>
	</div>
	<div class="second_box second_box_fixed appInfoEdit">
		<div class="second_content" style="width: 450px;">
			<span class="close" title="关闭">×</span>
			<h1>APP信息修改</h1>
			<div>
				<p>
					<label>APP账号</label>
					<input type="text" />
				</p>
				<p>
					<label>APP密码</label>
					<input type="text" />
				</p>
			</div>
			<div class="scdBoxAct">
				<button class="orangeBtn">确定</button>
				<button class="orangeBtn">取消</button>
			</div>
		</div>
	</div>
</body>
</html>
