<div class="main_con2">
			<div>
				<div class="toolbar">
					<div class="toolBox">
						<button>创建职位</button>
					</div>
					<div class="searchTool">
						<div class="searchBox">
							<input type="text" value="搜索职位" />
							<button class="search_btn"></button>
						</div>
					</div>
				</div>
			
				<div>
					<div class="jobInfo">
						<%=render 'form'%>
					</div>
					<div class="jobInfoTemp">
						<h2>已有职位模板</h2>
						<div>
							<div class="jobTemp">
								<img src="/assets/jobTemp.png" width="85" />
								<span>HR经理</span>
							</div>
							<div class="jobTemp">
								<img src="images/jobTemp.png" width="85" />
								<span>HR经理</span>
							</div>
							<div class="jobTemp">
								<img src="images/jobTemp.png" width="85" />
								<span>HR经理</span>
							</div>
							<div class="jobTemp">
								<img src="images/jobTemp.png" width="85" />
								<span>HR经理</span>
							</div>
							<div class="jobTemp">
								<img src="images/jobTemp.png" width="85" />
								<span>HR经理</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>