<div class="tab_alert second_box">
  <div class="second_content" style="z-index: 4;font-size:20px;margin: 200px auto;width: 300px;background: white;padding: 20px;">
    <span class="close_s"  style="float:right;" ></span>
    <div class="alert_h">
    </div>
  </div>
</div>