<div class="main_con2">
  <div>
    <div class="toolbar">
      <div class="toolBox">
        <%=link_to new_company_company_profile_path(@company) do%>
        <button>创建简介</button>
        <%end%>
      </div>
      <div class="searchTool">
        <div class="searchBox">
          <input type="text" value="搜索模块" />
          <button class="search_btn"></button>
        </div>
      </div>
    </div>

    <table class="table1">
      <tr>
        <th>模块名称</th>
        <th>操作</th>
      </tr>
      <tr>
        <td>HR经理</td>
        <td>
          <button class="delete" title="删除"></button>
          <button class="edit" title="修改"></button>
        </td>
      </tr>
      <tr>
        <td>HR经理</td>
        <td>
          <button class="delete" title="删除"></button>
          <button class="edit" title="修改"></button>
        </td>
      </tr>
    </table>
  </div>
</div>