<div class="main_con2">
  <div>
    <div class="toolbar">
      <div class="toolBox">
        <button>创建简介</button>
      </div>
      <div class="searchTool">
        <div class="searchBox">
        </div>
      </div>
    </div>

    <div>
      <div class="jobInfo">
        <div class="tuwenBox">
          <span class="close" title="关闭">×</span>
          <div class="tuwenImg"></div>
          <textarea></textarea>
        </div>
        <div class="tuwenBox">
          <span class="close" title="关闭">×</span>
          <div class="tuwenImg"></div>
          <textarea></textarea>
        </div>
        <p>
          <button class="orangeBtn">添加图文块</button>
          <button class="orangeBtn">确定</button>
        </p>
      </div>
      <div class="jobInfoTemp">
        <h2>已有模块</h2>
        <div>
          <div class="jobTemp checked">
            <div class="jobTempCheck"></div>
            <img src="images/jobTemp.png" width="85" />
            <span>公司说明</span>
          </div>
          <div class="jobTemp">
            <img src="/assets/jobTemp.png" width="85" />
            <span>公司动态</span>
          </div>
          <div class="jobTemp">
            <img src="/assets/jobTemp.png" width="85" />
            <span>公司理念</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>