<script>
  function add_tuwen(){
    var html=" \n\
    <div class='tuwenBox' ><span class='close' title='关闭' onclick='close_tuwen(this)'>×</span> \n\
    <div class='tuwenImg'>  \n\
    <input type='hidden' class='company_image' value='#' /> \n\
    <form accept-charset='UTF-8' action='/companies/<%=@company.id%>/company_profiles/upload_img' data-remote='true' date-type='script' enctype='multipart/form-data' method='post'> \n\
    <span onclick='$(this).next().click()' >请点击上传图片</span> \n\
    <input type='file' name='image' style='display: none;' onchange='change_file(this)'/> \n\
    <input type='hidden' id='old_img' name='old_img' value='' /> \n\
    <input type='hidden' id='index' name='index' value='' />        \n\
    </form>  \n\
    </div><textarea></textarea></div> \n\
    "
    $("#tuwen_box").append(html);
  }
</script>
<div class="main_con2">
  <div>
    <div class="toolbar">
      <div class="toolBox">
        <button>创建简介</button>
      </div>
      <div class="searchTool">
        <div class="searchBox">
        </div>
      </div>
    </div>
    <div>

      <p class="profile_title">
        标题：<input type="text" name="title" id="title" />
        文件名：<input type="text" name="file_name" id="file_name" />.html
      </p>
      <div class="jobInfo">
        <div id="tuwen_box">
          <%=render 'tuwen_box'%>
        </div>
        <%=form_for(:company_profiles,url:company_company_profiles_path(@company),html:{id:'company_profiles_id'}) do |f|%>
          <div class="img_area"></div>
          <div class="text_area"></div>
          <p>
            <input type="hidden" value="" id="send_file_name" name="file_name" />
            <input type="hidden" value="" id="send_title" name="title" />
            <input type="hidden" value="" id="html_content" name="html_content" />
            <button type="button" class="orangeBtn" onclick="add_tuwen()">添加图文块</button>
            <button type="button" class="orangeBtn" onclick="submit_comany_profiles()">确定</button>
          </p>
        <%end%>
      </div>

      <div class="jobInfoTemp">
        <h2>已有模块</h2>
        <div>
          <%@company_profiles.each do |cp|%>
            <div class="jobTemp checked">
              <div class="jobTempCheck"></div>
              <img src="/assets/jobTemp.png" width="85" />
              <span><%= cp.title%></span>
            </div>
          <%end%>

        </div>
      </div>
    </div>
  </div>
</div>
