<div class="main_box">
  <div class="main_con">
    <div class="companyInfo">
      <li>
        <label>公司名称</label>
        <span>fdgss</span>
        <a class="scd_btn" name="companyInfoEdit">编辑</a>
      </li>
      <li>
        <label>微信公众账号</label>
        <span>egw</span>
      </li>
      <li class="yes">
        <label>是否配置APP</label>
        <span>是</span>
        <a class="scd_btn" name="appInfoEdit">修改</a>
        <div class="appInfo">
          <span class="angle">▲</span>
          <ul>
            <li>
              <label>APP账号</label>
              <span>egw</span>
            </li>
            <li>
              <label>APP密码</label>
              <span>egw</span>
            </li>
          </ul>
        </div>
      </li>
    </div>
    <div>
      <img src="/assets/process.png" />
    </div>
  </div>
</div>


<div class="second_bg"></div>
<div class="second_box second_box_fixed companyInfoEdit">
  <div class="second_content" style="width: 450px;">
    <span class="close" title="关闭">×</span>
    <h1>公司信息编辑</h1>
    <div>
      <p>
        <label>公司名称</label>
        <input type="text" />
      </p>
      <p>
        <label>微信公众账号</label>
        <input type="text" />
      </p>
      <p>
        <label>是否配置APP</label>
        <input type="text" />
      </p>
    </div>
    <div class="scdBoxAct">
      <button class="orangeBtn">确定</button>
      <button class="orangeBtn">取消</button>
    </div>

  </div>
</div>
<div class="second_box second_box_fixed appInfoEdit">
  <div class="second_content" style="width: 450px;">
    <span class="close" title="关闭">×</span>
    <h1>APP信息修改</h1>
    <div>
      <p>
        <label>APP账号</label>
        <input type="text" />
      </p>
      <p>
        <label>APP密码</label>
        <input type="text" />
      </p>
    </div>
    <div class="scdBoxAct">
      <button class="orangeBtn">确定</button>
      <button class="orangeBtn">取消</button>
    </div>
  </div>
</div>

