<div class="area">
  <div class="title clearAfter">
    <h1>编辑图文消息</h1>
  </div>
  <div class="content">
    <div class="twEdit new_position">
      <ul>
        <%= render "form" %>
      </ul>
    </div>
    <%= render 'imgtext_list' %>
  </div>
</div>