@charset "utf-8";
* { padding: 0; margin: 0;}
body { font-family:"微软雅黑", "宋体", Arial; background: #f0f2f5; font-size: 14px; color: #333;}
img { border: none;}
li { list-style: none;}
a { text-decoration: none; color: #333;}
input,button,select,textarea,img{outline:none}
button { border: none; cursor: pointer;}

article { overflow: hidden; padding-top: 50px;}
article:after{
	display: block;
	overflow:hidden;
	clear: both;
	height:0;
	visibility:hidden;
	content:".";
}

.title {
	background: #01b2bd;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #FFF;
	font-size: 18px;
	text-shadow: 0px 0px 2px rgba(64,64,64,0.5);
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	box-shadow: 0px 0px 5px rgba(64,64,64,0.8);
}
.area {
	background: #FFF;
	margin: 20px;
	padding: 10px;
	border-radius: 5px;
	border-bottom: 4px #e3e4e8 solid;
}

.area h1 {
	height: 50px;
	line-height: 50px;
	border-radius: 5px;
	padding: 0 30px;
	color: #FFF;
	text-shadow: 0px 0px 2px rgba(64,64,64,0.3);
	font-weight:normal;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#2ed1db), to(#32b4bc));
	background:-moz-linear-gradient(top, #2ed1db,#32b4bc);
	background:-ms-linear-gradient(top, #2ed1db, #32b4bc);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#2ed1db,endColorstr=#32b4bc,grandientType=1);
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#2ed1db,endColorstr=#32b4bc,grandientType=1);
}

.content { padding: 20px;}
.input_list {}
.input_list li { margin-bottom: 20px;}
.input_list label { display: block; line-height: 32px; font-size: 18px;}
.input_list input[type="text"] {
	border: 2px #e3e4e8 solid;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
	padding: 0 5px;
	width: 97%;
}
.input_list input[type="text"]:hover { border: 2px #9bf3f8 solid; }

.input_list p { padding: 10px 10px 10px 60px; overflow: hidden;}
.input_list input[type="radio"], .input_list input[type="checkbox"] {
	width: 18px;
	height: 18px;
	margin-top: 2px;
	float: left;
	margin-right: 10px;
}

.input_list select {
	width: 100%;
	line-height: 40px;
	height: 40px;
	border: 2px #e3e4e8 solid;
	border-radius: 5px;
}

.btn { padding: 20px; text-align: center;}
.btn button {
	height: 50px;
	line-height: 50px;
	background: #01b2bd;
	border-bottom: 4px #0098a1 solid;
	display: inline-block;
	width: 100%;
	border-radius: 5px;
	font-size: 18px;
	color: #FFF;
	font-family:"微软雅黑";
}

.text {}
.text h1 { margin-top: 15px;}
.text .h_name {
	font-size: 24px;
	color: #01b2bd;
	line-height: 40px;
	height: 40px;
}
.text p {line-height: 24px; padding: 10px 0;}
.company { background: #f0f3f5; padding: 10px; border-radius: 5px; margin-top: 15px;}
.company h3 { border-bottom: 1px #FFFFFF solid; font-size: 16px; line-height: 28px;}
.company p { padding: 0px;}


.about img { width: 100%; margin-bottom: 10px;}
.about p {line-height: 24px; padding: 10px 0;}

