/* CSS Document */
*{ padding: 0; margin: 0;}
body { font-family:"微软雅黑", "宋体", Arial; font-size: 12px; min-width: 1200px; background: #e6e4e4;}
img { border: none;}
li { list-style: none;}
a { text-decoration: none; cursor: pointer;}
button { cursor: pointer;}
input,button,select,textarea{ outline: none}
table { border-collapse: collapse; table-layout: fixed;}
h1 { line-height: 40px; margin-bottom: 10px;}

.cf:after { clear: both; content:"."; display: block; height: 0; overflow: hidden; visibility:hidden;}

.orangeBtn { padding: 5px; width: 120px; border: 0; background: #f9651b; color: #f2f2f2;}

/* login */
.loginBox { width: 400px; margin: 100px auto 0;}
.loginBox h1 { height: 84px; line-height: 84px; color: #f2f2f2; font-size: 40px; text-shadow: 1px 1px 2px #f2f2f2; text-align: center;}
.loginForm { background: #fff; border-radius: 5px; padding: 10px;}
.loginForm p { line-height: 40px; padding: 5px; overflow: hidden;}
.loginForm p label { width: 120px; text-align: right; display: inline-block; font-size: 18px; color: #a8a8a8; margin-right: 10px;}
.loginForm p input { border: 0; padding: 5px; width: 180px; background: #f2f2f2; font-size: 20px; border: 1px solid #c2c2c2; color: #a8a8a8;}
.loginForm .warn { color: #a8a8a8; text-align: center; display: block;}
.loginBtn { margin-right: 10px;}

/* header */
.header { background: #353535;}
.logo { height: 84px; line-height: 84px; color: #f2f2f2; font-size: 40px; text-shadow: 2px 2px 2px #f2f2f2; display: inline-block; margin-left: 100px;}
.userInfo { float: right; margin-right: 100px; color: #ddd; line-height: 84px; font-size: 18px; }
.userInfo ul { display: none;}

/* main */
.main {}
.leftMenu { float: left; width: 200px; background: #373f42;}
.leftMenuItem { width: 100px; line-height: 20px; margin: 20px auto; color: #8f8f8f; font-size: 14px; padding-left: 15px; }
.leftMenuItem.hover,.leftMenuItem:hover { box-shadow: -3px 0 0 #f2f2f2; color: #f2f2f2;}

.main_box { background: #f68b0e; overflow: hidden; padding: 100px 0 0 100px;}
.main_con { background: #f5f4f4; box-shadow: 0 0 15px rgba(0,0,0,0.5); padding: 30px; color: #2c2c2c; overflow: hidden;}
.main_con2 { background: #e6e4e4; color: #2c2c2c; overflow: hidden;}

/* 招聘职位 */
.companyInfo { padding-bottom: 10px; border-bottom: 1px solid #ddd;}
.companyInfo li { padding: 5px 0;}
.companyInfo li label { display: inline-block; width: 80px; text-align: right; color: #828282;}
.companyInfo li span { display: inline-block; width: 180px; margin-left: 10px;}
.companyInfo li a { color: #828282;}

.appInfo { position: relative;}
.appInfo .angle { color: #a4a2a2; position: absolute; left: 80px; top: -13px;}
.appInfo ul { margin-top: 10px;}
.appInfo li { background: #a4a2a2; width: 275px;}
.appInfo li label { color: #eee;}

.toolbar { background: #868686; height: 80px;}
.toolBox { display: inline-block;}
.toolBox button { background: #fff; border: 0 none; height: 30px; margin: 25px 60px; padding: 0 20px; border: 1px solid #ccc; color: #a2a2a2;}
.white_btn_for_a { display: block;line-height: 25px; background: #fff; border: 0 none; height: 30px; margin: 25px 60px; padding: 0 20px; border: 1px solid #ccc; color: #a2a2a2;}
.searchTool { width: 250px; float: right; height: 100%; background: #a8a7a7;}
.searchBox { margin: 22px auto; width: 180px; position: relative;}
.searchBox input { width: 180px; height: 36px; border: 0; border-radius: 18px; line-height: 36px; text-indent: 20px; background: #e4e8e9; color: #888;}
.searchBox .search_btn {
    position: absolute;
    top: 6px;
    right: 10px;
    background: url(../assets/search_btn.png) no-repeat 0 center;
    width: 25px;
    height: 24px;
    text-indent: -999px;
    overflow: hidden;
    border: 0;
    cursor: pointer;
    margin: 0;
}

.table1 { width: 100%; font-size: 16px; color: #939393;}
.table1 tr { background: #d3d2d2;}
.table1 th { background: #e6e4e4;}
.table1 th,.table1 td { text-align: left; height: 40px; padding: 5px; padding-left: 60px;}

.delete { display: inline-block; width: 33px; height: 33px; background: url(../assets/delete.png) no-repeat; background-position: -4px -1px; border: 0;}
.delete:visited { background-position: -4px -41px;}
.delete:hover { background-position: -4px -81px;}
.edit { display: inline-block; width: 33px; height: 33px; background: url(../assets/edit.png) no-repeat; background-position: -4px -1px; border: 0;}
.edit:visited { background-position: -4px -41px;}
.edit:hover { background-position: -4px -81px;}
.publish { display: inline-block; width: 33px; height: 33px; background: url(../assets/publish.png) no-repeat; background-position: -4px -1px; border: 0;}
.publish:visited { background-position: -4px -41px;}
.publish:hover { background-position: -4px -81px;}
.publish.fabu{ background-position: -4px -41px; cursor: default;}

.jobInfo { background: #a8a7a7; float: left; margin: 50px; min-height: 300px; width: 380px;}
.jobInfo p { line-height: 36px; overflow: hidden; padding: 5px 0;}
.jobInfo p label { width: 80px; text-align: right; display: inline-block;}
.jobInfo p input { margin: 0px 40px 0px 20px; border: 0; padding: 5px; width: 210px;}
.jobInfo p select { margin: 0px 40px 0px 20px; border: 0; padding: 5px; width: 220px;}
.jobInfo p textarea { height: 200px;margin: 0px 56px 0px 20px; border: 0; padding: 5px; width: 210px; float: right; resize: none;}
.jobInfo p button { display: block; margin: 5px auto; width: 159px;}
.jobInfoTemp { border: 1px dashed #a8a7a7; float: left; margin: 50px; min-height: 280px; width: 430px; padding: 10px;}
.jobInfoTemp h2 { line-height: 40px; font-size: 18px; }

.jobTemp { float: left; width: 85px; margin: 0 22px 10px 0; position: relative;}
.jobTemp span { display: block; padding: 5px; text-align: center; color: #939393;}

.JobCategoryBox { padding: 30px;}
.JobCategoryBox p {
    background: #FFFFFF;
    display: inline-block;
    width: 250px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 28px;
    margin: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: relative;
}
.JobCategoryBox p .close {
    font-size: 28px;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 15px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    display: none;
}
.JobCategoryBox p:hover .close { display: block; }

/* 简历模板 */
.addItemBtnBar { background: #7f7e7e; overflow: hidden;}
.addItemBtnBar li { width: 100px; height: 80px; float: left; border-right: 1px solid #f2f2f2; background-image: url(../assets/addItemBtn1.png); background-repeat: no-repeat; background-color: #4c5457; }
.addItemBtnBar li:hover,.addItemBtnBar li.hover { background-image: url(../assets/addItemBtn2.png); background-color: #f9651b; }
.addItemBtnBar li:hover span,.addItemBtnBar li.hover span { color: #fff;}
.addItemBtnBar li[name="addInfoItem"] { background-position: 0px 0px;}
.addItemBtnBar li[name="addRdoItem"] { background-position: -101px 0px;}
.addItemBtnBar li[name="addChekItem"] { background-position: -202px 0px;}
.addItemBtnBar li[name="addSelItem"] { background-position: -303px 0px;}
.addItemBtnBar li[name="addTxtItem"] { background-position: -404px 0px;}
.addItemBtnBar li[name="addSuccess"] { background-position: -505px 0px;}
.addItemBtnBar li[name="addImgItem"] { background-position: -606px 0px;}
.addItemBtnBar li span { color: #a3a3a3; display: block; text-align: center; margin-top: 55px; }
.addItemBtnBar .userHead { background-position: -606px 0px;}
.addItemBtnBar .annex { background-position: -707px 0px;}
.annexItem a { display: block; margin: 20px; text-align: center;}

.phoneVirtual { width: 400px; min-height: 500px; margin: 20px; background: #e3e3e3;}

.itemBox { padding: 10px; color: #6E6E6E; position: relative; margin-bottom: 5px; background: #ccc;}
.itemBox:hover { box-shadow: 0 0 3px rgba(0,0,0,0.3) inset;}
.itemBox .close {
/*    background: #7f7e7e;*/
    color: #f2f2f2;
    display: block;
    font-size: 24px;
    font-weight: bold;
    height: 20px;
    width: 18px;
    line-height: 18px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    cursor: pointer;
}
.itemBox:hover .close { display: block;}
.itemBox label { font-size: 14px; line-height: 30px; display: inline-block; width: 120px;}
.itemBox input[type="text"] { border: 1px solid #C3C3C3; color: #6E6E6E; padding: 4px; width: 200px;}
.itemBox select { border: 1px solid #C3C3C3; color: #6E6E6E; width: 210px; font-size: 20px;}
.itemBox span { font-size: 14px; line-height: 30px;}
.itemBox input[type="radio"],.itemBox input[type="checkbox"] { width: 40px;}

.imgItem { min-height: 150px; text-align: center;}
.imgItem a { display: block; margin-top: 70px; text-align: center;}

/* 公司简介 */
.tuwenImg { width: 370px; min-height: 150px; background: #ccc; margin: 0 auto;}
.tuwenImg span{display: block;width: 366px;height: 150px;margin: auto;line-height: 12;text-align: center;cursor: pointer;}
.tuwenBox textarea { width: 360px; height: 60px; resize: none; border: 1px solid #c2c2c2; padding: 5px; display: block; margin: 5px auto 0;}
.tuwenBox { position: relative; padding: 5px 0;}
.tuwenBox:hover { box-shadow: 0 0 5px #fff inset;}
.tuwenBox .close {
    font-size: 28px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    display: none;
    color: #fff;
}
.tuwenBox:hover .close { display: block;}

/* 生成菜单 */
.menuMakerTit { height: 84px; background: #7d9199; position: relative;}
.menuMakerTit h1 { line-height: 84px; margin: 0; font-size: 18px; color: #fff; padding-left: 50px;}
.menuMakerTit img { position: absolute; bottom: 0; left: 297px; padding: 5px;}
.menuMakerDtl { background: #fff; padding-left: 175px;}
.menuMakerDtl ul { position: relative}
.menuMakerDtl .menuLv1 { background: url(../assets/menuLv1.png) 116px 0px repeat-y; padding: 50px;}
.menuMakerDtl .menuLv2 { padding-bottom: 50px; }
.menuLv2 li { position: relative;}
.menuLv2 li img { position: absolute; top: 22px; left: -33px;}
.addMenuItem {
    background: url(../assets/menuAdd.png) no-repeat;
    width: 36px;
    height: 50px;
    border: 0;
}
.menuMakerDtl .menuLv1 button { position: absolute; left: 111px; font-size: 0;}
.menuMakerDtl .menuLv2 button { position: absolute; left: -35px; font-size: 0;}
.menuMakerDtl li {}
.menuMakerDtl li span { display: block; line-height: 50px; width: 160px; background: #ff8d00; color: #fff; margin: 5px; text-align: center;}
.menuMakerDtl li ul { margin-top: -55px; margin-left: 200px;}

/* 导出简历 */
.resumeDownloadTit { height: 84px; background: #7d9199;}
.resumeDownloadTit .timer { height: 54px; padding: 15px 100px;}
.resumeDownloadTit .timer label { line-height: 54px; font-size: 16px; margin-right: 10px;}
.resumeDownloadTit .timer input { padding: 5px; margin-right: 10px;}
.resumeDownloadTit .timer button { padding: 5px 50px; background: #fff; border: 0; color: #828282;}
.resumeDownloadDtl { background: #fff; overflow: hidden;}
.resumeDownload { margin: 50px 100px;}

.zipBtn { background: url(../assets/resumeDownload.png) no-repeat; height: 71px; width: 71px; border: 0; color: #fff; line-height: 100px; float: left;}
.downloadBtn { margin-left: 10px; height: 71px; line-height: 71px; width: 200px; background: #f6b435; border: 0; color: #fff; font-size: 32px; }

/* second_box */
.second_bg { width:100%; height:100%; z-index:98; position: fixed; top:0; opacity: 0.3; filter: alpha(opacity=30); background: #fff; display: none;}
.second_box { width:100%; height:100%; z-index:99; position: absolute; top:0; display: none; }
.second_box.second_box_fixed { position: fixed;}
.second_content {
    background-color: #373f42;
    overflow: auto;
    margin: 114px auto 50px;
    position: relative;
    color: #f2f2f2;
}
.second_content h1 { line-height: 40px; background: #373f42; text-indent: 30px; font-size: 18px; padding-top: 10px;}
.second_content .close {
    font-size: 28px;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 15px;
    position: absolute;
    right: 12px;
    top: 5px;
    cursor: pointer;
}
.second_content p { position: relative;}
.second_content p .close { display: none;}
.second_content p:hover .close { display: block;}
.second_content p { line-height: 36px;}
.second_content p label { display: inline-block; width: 120px; text-align: right;}
.second_content p input[type="text"] { padding: 3px; margin-left: 10px; width: 250px; height: 20px;}
.second_content p input[type="radio"] { margin-left: 10px; width: 35px; }
.scdBoxAct { margin: 10px 0; text-align: center; }

.second_content p span { padding: 3px; margin-left: 10px;}
.second_content p .check {
    background: #FFFFFF;
    float: right;
    height: 20px;
    width: 20px;
    margin: 5px 57px 0 0;
}
.second_content p .check .checkPoint { display: block; width: 12px; height: 12px; padding: 0; margin: 4px; background: #fff;}
.second_content p .check.checked .checkPoint { background: #F9651B;}

/* app */
.appNewWarn { float: right; line-height: 80px; padding: 0 10px;}
.appNewWarn button { height: 34px;}
.appNewWarn button:hover { box-shadow: 0 0 2px #000;}

.itemBox2 { margin: 5px 0;}
.itemBox2 label { float: left; text-align: right; width: 120px; line-height: 36px; margin-right: 10px;}
.labRight { overflow: hidden;}
.radioBox1 { position: relative; height: 36px;}
.radioBox1 input[type="radio"] { width: 30px;}
.radioBox1 input[type="text"] { height: 20px; padding: 3px; width: 250px;}
.radioSpan { display: inline-block; width: 20px; height: 20px; background: url(../assets/radio_icon.png) no-repeat -5px -3px; position: absolute; left: 0; top: 11px;}
.radioSpan:hover { background-position: -5px -33px;}
.check .radioSpan { background-position: -5px -63px;}
.txtSpan { display: inline-block; line-height: 36px; margin: 0 10px;}
.radioBox2 { float: left;}
.warnArea { width: 400px; height: 125px;}
.warnTit { background: #7f7f7f; height: 40px; position: relative;}
.warnTit .time { display: block; width: 25px; height: 25px; background: url(../assets/warnArea.png) no-repeat -3px -1px; position: absolute; left: 10px; top: 9px; cursor: pointer;}
.warnTit .cont { display: block; width: 25px; height: 25px; background: url(../assets/warnArea.png) no-repeat -36px -2px; position: absolute; left: 45px; top: 9px; cursor: pointer;}
.warnTit .space { display: block; width: 30px; height: 25px; background: url(../assets/warnArea.png) no-repeat -67px -2px; position: absolute; left: 80px; top: 9px; cursor: pointer;}
.warnTxt textarea { width: 390px; height: 85px; resize: none; border: 0; padding: 5px;}
.addcontarea { margin: 30px 20px 0; border: 1px solid #ccc; background: #fff; width: 245px; height: 75px; padding: 5px; resize: none;}
.addrpick { padding: 5px; cursor: pointer;}
.addrpick.check,.addrpick:hover { background: #c2c2c2; color: #fff;}

.third_bg { width:100%; height:100%; z-index:100; position: fixed; top:0; background: #fff; opacity: 0.3; filter: alpha(opacity=30); display: none;}
.third_box { z-index:101; }

