@charset "utf-8";
/* CSS Document */
*{ padding: 0; margin: 0;}
img { border: none;}
li { list-style: none;}
input,button,select,textarea{ outline: none}
table { border-collapse: collapse; table-layout: fixed;}
h1 { line-height: 40px; margin-bottom: 10px;}

.cf:after { clear: both; content:"."; display: block; height: 0; overflow: hidden; visibility:hidden;}

.orangeBtn {
    height: 30px;
    border-radius: 5px;
    display: inline-block;
    color: #FFF;
    padding: 0px 40px;
    margin: 0 10px;
    background: #4dbd74
}

/* login */


/* header */
.header { background: #353535;}
.userInfo { float: right; margin-right: 100px; color: #ddd; line-height: 84px; font-size: 18px; }
.userInfo ul { display: none;}

/* main */
.main {}
.leftMenu { float: left; width: 200px; background: #373f42; padding: 20px 0;}
.leftMenuItem { width: 120px; line-height: 20px; margin: 10px auto; color: #8f8f8f; font-size: 14px; padding-left: 15px;}
.leftMenuItem_2 { text-indent: 15px; color: #8f8f8f; display: none; font-size: 12px;}
.leftMenuItem.hover,.leftMenuItem:hover { background: url(../assets/leftMenuOpen.png) no-repeat; color: #f2f2f2;}
.leftMenuItem.hover .leftMenuItem_2 { display: block;}
.leftMenuItem_2.hover,.leftMenuItem_2:hover { color: #f2f2f2; text-decoration: underline;}

.main_box { background: #f68b0e; overflow: hidden; padding: 100px 0 0 100px;}
.main_con { background: #f5f4f4; box-shadow: 0 0 15px rgba(0,0,0,0.5); padding: 30px; color: #2c2c2c; overflow: hidden;}
.main_con2 { background: #e6e4e4; color: #2c2c2c; overflow: hidden; position: relative;}

/* 招聘职位 */



.jobInfo {  float: left; margin: 50px; min-height: 300px; width: 380px;}
.jobInfo p { line-height: 36px; overflow: hidden; padding: 5px 0;}
.jobInfo p label { width: 80px; text-align: right; display: inline-block;}
.jobInfo p input { margin: 0px 40px 0px 20px; border: 0; padding: 5px; width: 210px;}
.jobInfo p select { margin: 0px 40px 0px 20px; border: 0; padding: 5px; width: 220px;}
.jobInfo p textarea { height: 200px;margin: 0px 56px 0px 20px; border: 0; padding: 5px; width: 210px; float: right; resize: none;}
.jobInfo p button { display: block; margin: 5px auto; width: 159px;}
.jobInfoTemp { border: 1px dashed #a8a7a7; float: left; margin: 50px; min-height: 280px; width: 430px; padding: 10px;}
.jobInfoTemp h2 { line-height: 40px; font-size: 18px; }



/* 简历模板 */
.addItemBtnBar { background: #7f7e7e; overflow: hidden;}
.addItemBtnBar li { width: 100px; height: 80px; float: left; border-right: 1px solid #f2f2f2; background-image: url(../assets/addItemBtn1.png); background-repeat: no-repeat; background-color: #4c5457; }
.addItemBtnBar li:hover,.addItemBtnBar li.hover { background-image: url(../assets/addItemBtn2.png); background-color: #f9651b; }
.addItemBtnBar li:hover span,.addItemBtnBar li.hover span { color: #fff;}
.addItemBtnBar li[name="addInfoItem"] { background-position: 0px 0px;}
.addItemBtnBar li[name="addRdoItem"] { background-position: -101px 0px;}
.addItemBtnBar li[name="addChekItem"], .addItemBtnBar li[name="addTagItem"] { background-position: -202px 0px;}
.addItemBtnBar li[name="addSelItem"] { background-position: -303px 0px;}
.addItemBtnBar li[name="addTxtItem"] { background-position: -404px 0px;}
.addItemBtnBar li[name="addSuccess"] { background-position: -505px 0px;}
.addItemBtnBar li[name="addImgItem"] { background-position: -606px 0px;}
.addItemBtnBar li span { color: #a3a3a3; display: block; text-align: center; margin-top: 55px; }
.addItemBtnBar .userHead { background-position: -606px 0px;}
.addItemBtnBar .annex { background-position: -707px 0px;}
.annexItem a { display: block; margin: 20px; text-align: center;}

.phoneVirtual { width: 400px; min-height: 500px; margin: 20px; background: #e3e3e3;float: left}
.profileTemp {
    left: 600px;
    position: absolute;
    top: 100px;
}
.itemBox { padding: 10px; color: #6E6E6E; position: relative; margin-bottom: 5px; }
.itemBox:hover { box-shadow: 0 0 3px rgba(0,0,0,0.3) inset;}
.itemBox .close {
    /*    background: #7f7e7e;*/
    color: #f2f2f2;
    display: block;
    font-size: 24px;
    font-weight: bold;
    height: 30px;
    width: 30px;
    line-height: 18px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    cursor: pointer;
}
.itemBox:hover .close { display: block;}
.itemBox label { font-size: 14px; line-height: 30px; display: inline-block; width: 120px;}
.itemBox input[type="text"] { border: 1px solid #C3C3C3; color: #6E6E6E; padding: 4px; width: 200px;}
.itemBox select { border: 1px solid #C3C3C3; color: #6E6E6E; width: 210px; font-size: 20px;}
.itemBox span { font-size: 14px; line-height: 30px;}
.itemBox input[type="radio"],.itemBox input[type="checkbox"] { width: 40px;}

.imgItem input[type="file"] { color: #6E6E6E;width: 200px;}

.profileExplain { float:left; margin: 20px; width: 370px; background: #fff; padding: 10px; border-radius: 5px; box-shadow: 0 0 3px rgba(0,0,0,0.3);}
.profileExplain h1 { border-bottom: 1px solid #ccc; font-size: 18px; font-weight: normal; text-align: center;}
.profileExplain li { padding: 20px; border-bottom: 1px dashed #7c7c7c; background: url(../assets/explain_close.png) no-repeat 0 23px; background-size: 15px 15px;}
.profileExplain li h2 { font-size: 16px;}
.profileExplain li img, .profileExplain li p { display: none; font-size: 14px}
.profileExplain li.open { background-image: url(../assets/explain_open.png);}
.profileExplain li.open img, .profileExplain li.open p { display: block;}

/* 公司简介 */
.tuwenImg { width: 370px; min-height: 150px; background: white; margin: 0 auto;}
.tuwenImg span{
    border: 1px solid #c2c2c2;border-radius: 5px;
    display: block;width: 370px;height: 150px;line-height: 12;text-align: center;cursor: pointer;}
.tuwenBox textarea { width: 360px; height: 60px; resize: none; border: 1px solid #c2c2c2; padding: 5px; display: block; margin: 5px auto 0;}
.tuwenBox { position: relative; padding: 5px 0;}
.tuwenBox:hover { box-shadow: 0 0 5px #fff inset;}
.tuwenBox .close {
    font-size: 28px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    display: none;
    color: #fff;
}
.tuwenBox:hover .close { display: block;}

/* 生成菜单 */
.menuMakerDtl  li a.close_1 {
    color: #464646;
    font-size: 24px;
    font-weight: bold;
    height: 20px;
    width: 20px;
    line-height: 20px;
    position: absolute;
    right: 1px;
    top: 3px;
    display: none;
    cursor: pointer;

}
span.close_1 {
    color: #464646;
    font-size: 24px;
    font-weight: bold;
    height: 20px;
    width: 20px;
    line-height: 20px;
    position: absolute;
    right: 1px;
    top: 3px;
    display: none;
    cursor: pointer;

}
.menu_ul li a.close_1 {
    color: #464646;
    font-size: 24px;
    font-weight: bold;F
    height: 20px;
    width: 20px;
    line-height: 20px;
    position: absolute;
    display: none;
    cursor: pointer;
    margin-left: 100px;
    margin-top: 2px;
}
.optBox:hover span.close_1,.itemBox:hover span.close_1 { display: block;}
.menu_ul li:hover a.close_1 { display: block;}


/* 导出简历 */
.resumeDownloadTit { height: 84px; background: #7d9199;}
.resumeDownloadTit .timer { height: 54px; padding: 15px 100px;}
.resumeDownloadTit .timer label { line-height: 54px; font-size: 16px; margin-right: 10px;}
.resumeDownloadTit .timer input { padding: 5px; margin-right: 10px;}
.resumeDownloadTit .timer button { padding: 5px 50px; background: #fff; border: 0; color: #828282;}
.resumeDownloadDtl { background: #fff; overflow: hidden;}
.resumeDownload { margin: 50px 100px;}

.zipBtn { background: url(../assets/resumeDownload.png) no-repeat; height: 71px; width: 71px; border: 0; color: #fff; line-height: 100px; float: left;}
.downloadBtn { margin-left: 10px; height: 71px; line-height: 71px; width: 200px; background: #f6b435; border: 0; color: #fff; font-size: 32px; }

/* second_box */
.second_bg { width:100%; height:100%; z-index:98; position: fixed; top:0; opacity: 0.3; filter: alpha(opacity=30); background: #fff; display: none;}
.second_box { width:75%; height:100%; z-index:99; position: absolute; top:0; display: none; }
.second_box.second_box_fixed { position: fixed;}
.second_box_fixed .second_content .largeCon { max-height: 200px; overflow: auto;}
.second_content {
    background-color: white;
    overflow: auto;
    margin: 114px auto 50px;
    position: relative;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
}
.second_content h1 { line-height: 40px; background: white; text-indent: 30px; font-size: 18px; padding-top: 10px;}
.second_content .close {
    font-size: 28px;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 15px;
    position: absolute;
    right: 12px;
    top: 5px;
    cursor: pointer;
}
.second_content p { position: relative;}
.second_content p .close { display: none;}
.second_content p:hover .close { display: block;}
.second_content p { line-height: 36px;margin-left: -10px;}
.second_content p label { display: inline-block; width: 150px; text-align: right;}
.second_content p input[type="text"] {
    background: #fafafa;
    border: 1px solid #DDE2E7;
    border-radius: 5px;
    padding: 3px; margin-left: 10px; width: 250px; height: 20px;}
.second_content p input[type="radio"] { margin-left: 10px; width: 35px; }
.scdBoxAct { margin: 10px 0; text-align: center; }

.second_content p span { padding: 3px; margin-left: 10px;}
.second_content p .check {
    background: #FFFFFF;
    float: right;
    height: 20px;
    width: 20px;
    margin: 5px 57px 0 0;
}
.second_content p .check .checkPoint { display: block; width: 12px; height: 12px; padding: 0; margin: 4px; background: #fff;}
.second_content p .check.checked .checkPoint { background: #F9651B;}
.second_content .setting_notice { padding:  0 50px;}

/* app */
.appNewWarn { float: right; line-height: 80px; padding: 0 10px;}
.appNewWarn button { height: 34px;}
.appNewWarn button:hover { box-shadow: 0 0 2px #000;}

.itemBox2 { margin: 5px 0;}
.itemBox2 label { float: left; text-align: right; width: 120px; line-height: 36px; margin-right: 10px;}
.labRight { overflow: hidden;}
.radioBox1 { position: relative; height: 36px;}
.radioBox1 input[type="radio"] { width: 30px;}
.radioBox1 input[type="text"] { height: 20px; padding: 3px; width: 250px;border: 1px solid #DDE2E7;}
.radioSpan { display: inline-block; width: 20px; height: 20px; background: url(../assets/radio_icon.png) no-repeat -5px -3px; position: absolute; left: 0; top: 11px;}
.radioSpan:hover { background-position: -5px -33px;}
.check .radioSpan { background-position: -5px -63px;}
.txtSpan { display: inline-block; line-height: 36px; margin: 0 10px;}
.radioBox2 { float: left;}
.warnArea { width: 400px; height: 125px;}
.warnTit { background: #7f7f7f; height: 40px; position: relative;}
.warnTit .time { display: block; width: 25px; height: 25px; background: url(../assets/warnArea.png) no-repeat -3px -1px; position: absolute; left: 10px; top: 9px; cursor: pointer;}
.warnTit .cont { display: block; width: 25px; height: 25px; background: url(../assets/warnArea.png) no-repeat -36px -2px; position: absolute; left: 45px; top: 9px; cursor: pointer;}
.warnTit .space { display: block; width: 30px; height: 25px; background: url(../assets/warnArea.png) no-repeat -67px -2px; position: absolute; left: 80px; top: 9px; cursor: pointer;}
.warnTxt textarea { width: 388px; height: 73px; resize: none; border: 1px solid #DDE2E7; padding: 5px;}
.addcontarea { margin: 30px 20px 0; border: 1px solid #ccc; background: #fff; width: 245px; height: 75px; padding: 5px; resize: none;}
.addrpick { padding: 5px; cursor: pointer;}
.addrpick.check,.addrpick:hover { background: #c2c2c2; color: #fff;}

.third_bg { width:100%; height:100%; z-index:100; position: fixed; top:0; background: #fff; opacity: 0.3; filter: alpha(opacity=30); display: none;}
.third_box { z-index:101; }

.itemBox p { text-indent: 20px;}
.pagination{
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 3px;
    width: 75%;
}
.jobInfo .place label { float: left;}
.jobInfo .place span { background: #fff; margin: 3px 40px 0 24px; padding: 5px; width: 210px; float: left; line-height: 20px;}














.tuwenBox .close{
    margin-right: 5px;
    margin-top: 10px;
}
/*new */
* { padding: 0; margin: 0;}
body { background: #15465e; font-family:"微软雅黑", "宋体", Arial; font-size: 14px; color:#506470;}
li { list-style: none;}
a { text-decoration: none;}
input {font-family:"微软雅黑"; border: 1px solid #DDE2E7;}
.div_class p input{
    background: #fafafa;
    padding: 6px;
    border: 1px solid #DDE2E7;
    border-radius: 5px;
}
button {font-family:"微软雅黑"; cursor: pointer; border: none;}
button.green_btn, button.gray_btn {
    height: 30px;
    border-radius: 5px;
    display: inline-block;
    color: #FFF;
    padding: 0px 50px;
    margin: 0 10px;
}
button.green_btn { background: #4dbd74; }
button.gray_btn { background: #b6c2c9; }

.clearAfter:after {
    display: block;
    overflow:hidden;
    clear: both;
    height:0;
    visibility:hidden;
    content:".";
}

/*pageTurn----*/
.pageTurn { padding: 10px 0; text-align: center; font-size: 13px; color: #333; margin: 7px 0;}
.pageTurn a { padding: 5px 12px; margin: 0px 2px; color: #333; background: #dbdbdb;}
.pageTurn a:hover, .pageTurn a:active { color: #48D47E;}

.pageTurn a.current { padding: 5px 12px; font-weight: bold; color: #fff; background: #48D47E;}
.pageTurn .disabled {display: none;}

/*tooltip*/
.tooltip_box { position: absolute; z-index: 20000; }
.tooltip_next {
    background: #FFF;
    border: 1px #666666 solid;
    box-shadow: 2px 2px 0px rgba(0,0,0,0.2);
    border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    line-height: 25px;
    text-align: center;
    padding: 5px 10px;
    color: #333;
    max-width: 300px;
    word-break:break-all;
    word-wrap:break-word;
}

/*fill_list*/
.fill_list {}
.fill_list li { margin-bottom: 10px;}
.fill_list label {
    width: 85px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: right;
    float: left;
}
.fill_list input {
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    border: 1px #dde2e7 solid;
    padding: 0 5px;
    width: 200px;
}
.fill_list textarea {
    width: 200px;
    height: 150px;
    border-radius: 5px;
    border: 1px #dde2e7 solid;
    padding: 0 5px;
}

/*login*/
.login { width: 500px; margin: 50px auto;}
.login .logo {
    width: 260px;
    height: 140px;
    margin: 50px auto;
    background: url(/assets/login_logo.png) no-repeat;
    text-indent: -999px;
    overflow: hidden;
}
.login_box { width: 480px; padding: 10px; background: url(/assets/bg_w.png) repeat; border-radius: 10px}
.login_box h1 { font-size: 24px; line-height: 48px; text-align: center; color: #FFF;}
.login_box ul { margin: 20px 80px;}
.login_box ul li {
    height: 40px;
    line-height: 40px;
    background: url(/assets/bg_w.png) repeat;
    border-radius: 10px;
    margin: 10px 0;
}
.login_box label.company { 
    background: url(/assets/company.png) no-repeat 0px 0px;
}

.login_box label.user_name, .login_box label.user_password, .login_box label.company{
    width: 22px;
    height: 22px;
    display: block;
    text-indent: -999px;
    overflow: hidden;
    margin: 9px 10px 0px 10px;
    float: left;
}
.login_box label.user_name {
    background: url(/assets/icon01.png) no-repeat 0px 0px;
}
.login_box label.user_password {
    background: url(/assets/icon01.png) no-repeat 0px -22px;
}
.login_box input {
    float: left;
    margin-top: 1px;
    height: 35px;
    line-height: 35px;
    width: 260px;
    border: none;
    background: none;
    color: #FFF;
}
.login_box li.btn { margin-top: 40px; background: #5bfbfe;}
.login_box li.btn button { width: 100%; background: none; border: none; color: #197477; font-size: 16px;}

/*wrap*/
.wrap { margin: 20px; position: relative; background: #273946; border-radius: 10px 0 0 10px;}
.left {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;

}
.right { margin-left: 250px; background: #edf1f2; border-radius: 0 10px 10px 0;}
.left .area { padding: 20px 0;}
.right .area { padding: 20px;}


.logo {
    width: 150px;
    height: 70px;
    margin: 0 auto;
    text-indent: -999px;
    overflow: hidden;
    background: url(/assets/logo.png) no-repeat;
}

.nav {}
.nav .nav_list { color: #FFF;}
.nav .nav_list p {
    padding-left: 70px;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    border-left: 2px #273946 solid;
    cursor: pointer;
    position: relative;
}
.nav .hover p { background-color: #182734; border-left: 2px #5bfbfe solid;}
.nav .nav_list p.resume {background: url(/assets/icon02.png) no-repeat 30px 0px;}
.nav .nav_list p.position {background: url(/assets/icon02.png) no-repeat 30px -60px;}
.nav .nav_list p.set {background: url(/assets/icon02.png) no-repeat 30px -120px;}

.nav .nav_list ul.menu { background: #0f1922; border-left: 1px #5bfbfe solid;}
.nav .nav_list ul.menu li {}
.nav .nav_list ul.menu li a {
    display: block;
    height: 40px;
    line-height: 40px;
    padding-left: 70px;
    color: #FFF;
}
.nav .nav_list ul.menu li a.hover { background: #4dbd74;}
.nav .nav_list p.information {background: url(/assets/information.png) no-repeat 30px 20px;}
.user_info {
    border-bottom: 1px #182734 solid;
    padding: 10px 25px;
    width: 200px;
    overflow: hidden;
}
.user_info .user_info_name { height: 32px; line-height: 32px; color: #445b6c; float: left;}
.user_info .user_info_name img { width: 32px; height: 32px; border-radius: 50%; float: left; margin-right: 10px;}
.user_info .out {
    width: 18px;
    height: 18px;
    display: block;
    float: right;
    background: url(/assets/out.png) no-repeat;
    margin-top: 7px;
}

/*title*/
.title { margin-bottom: 20px;}
.title h1 { float: left; font-size: 22px; height: 44px; line-height: 44px;}
.seek { float:right; height: 33px; padding-top: 7px;}

.search {
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    border: 1px #dde2e7 solid;
    padding: 0 5px;
    background: #FFF;
    width: 300px;
}
.search input { width: 278px; height: 30px; line-height: 30px;}
.search button {
    width: 22px;
    height: 22px;
    background: url(/assets/search.png) no-repeat;
    text-indent: -999px;
    overflow: hidden;
}

.inquire {color:#506470;}
.inquire li { float: left; margin: 0 5px;}

.inquire li input {
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    border: 1px #dde2e7 solid;
    padding: 0 5px;
}
.inquire li button {
    height: 30px;
    border-radius: 5px;
    background: #3cc0c4;
    border: none;
    color: #FFF;
    padding: 0 20px;
}
/*select*/
.select_box {
    width: 150px;
    line-height: 30px;
    display: inline-block;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px #dde2e7 solid;
    background: #FFF;
    position: relative;
}
.select_box input { display: none;}
.select_tag { height: 30px; cursor: pointer; background: url(/assets/select.png) no-repeat right center;}
.select_tag span {
    width: 150px;
    display: inline-block;
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.select_ul {
    display: none;
    margin-bottom: 5px;
    padding: 5px 10px;
    z-index:1000;
    position: absolute;
    background: #FFF;
    width: 150px;
    border-radius: 5px;
    border: 1px #dde2e7 solid;
    left: 0px;
    top: 32px;
}
.select_ul li { float: none; margin: 0; padding: 0 5px; cursor: pointer;}
.select_ul li:hover, .select_ul li.hover { background: #F6F7F8;}

/*content*/
.content { background: #FFF; border-radius: 10px; padding: 10px;}

.list {}
.list li {
    width: 400px;
    background: #f6f7f8;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    display: inline-block;
    margin: 20px;
}
.list li .avatar { width: 40px; float: left; margin-right: 20px;}
.list li .avatar img { width: 40px; height: 40px; border-radius: 50%;}
.list li .text { overflow: hidden; margin-bottom: 5px;}
.list li .text h2 { font-size: 18px; font-weight:normal; line-height: 36px;}
/*功能操作*/
.aFunc { height: 16px; font-size: 0; display: inline-block;}
.aFunc a {
    width: 16px;
    height: 16px;
    display: inline-block;
    text-indent: -999px;
    overflow: hidden;
    margin-right: 10px;
}
.aFunc a.preview_icon { background: url(/assets/icon03.png) no-repeat 0px 0px;}
.aFunc a.refuse_icon { background: url(/assets/icon03.png) no-repeat 0px -16px;}
.aFunc a.refuse_icon_ed { background: url(/assets/icon03.png) no-repeat 0px -32px;}
.aFunc a.interview_icon { background: url(/assets/icon03.png) no-repeat 0px -48px;}
.aFunc a.interview_icon_ed { background: url(/assets/icon03.png) no-repeat 0px -64px;}
.aFunc a.entry_icon { background: url(/assets/icon03.png) no-repeat 0px -80px;}
.aFunc a.downLoad_icon { background: url(/assets/icon03.png) no-repeat 0px -96px;}

.list li .time { position: absolute; right: 10px; bottom: 10px; color:#b2b2b2;}

/*tab*/
.tab {
    padding: 10px 20px;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
    position: absolute;
}
.close {
    width: 30px;
    height: 30px;
    display: block;
    background: url(/assets/close.png) no-repeat;
    position: absolute;
    top: 5px;
    right: 5px;
    text-indent: -999px;
    overflow: hidden;
}
.x {
    width: 10px;
    height: 10px;
    display: block;
    background: url(/assets/x.png) no-repeat;
    position: absolute;
    top: 5px;
    right: 5px;
    text-indent: -999px;
    overflow: hidden;
}

.tab h1 { font-size: 18px; font-weight:normal; line-height: 36px;}
.tab_content {}
.tab_btn { text-align: center; margin: 10px 0;}
.tab_btn button {
    height: 30px;
    background: #4dbd74;
    border-radius: 5px;
    display: inline-block;
    color: #FFF;
    padding: 0px 50px;
}
.tab_hint { text-align: right;}

/*查看简历*/
.tab .see_resume { width: 600px; overflow: hidden;}
.tab .user { margin: 10px 0;}
.tab .user img { width: 40px; height: 40px; border-radius: 50%; float: left; margin-right: 20px;}
.tab .user h2 { font-size: 16px; line-height: 32px; font-weight:normal;}
.tab .user p { font-size: 12px; color:#b2b2b2;}
.tab .see_resume ul { display: block; overflow: hidden;}
.tab .see_resume li {
    width: 250px;
    background: #fafafa;
    margin: 10px;
    border-radius: 10px;
    padding: 15px;
    float: left;
}
.tab .see_resume li label { display: inline-block; width: 100px; text-align: right; float: left;}
.tab .see_resume li span {
    width: 150px;
    display: block;
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

/*tab拒绝简历*/
.refuse_resume { width: 300px; color: #f05050; padding: 20px 0; line-height: 24px;}
/*tab安排面试*/
.interview_resume { width: 300px; padding: 20px 0; line-height: 24px;}


/*管理简历*/
.manage {}
.manage_head { height: 70px; line-height: 70px; border-bottom: 2px #e4e9ec solid; text-align: center;}
.manage_head li { display: inline-block; width: 30%; text-align: center; font-size: 16px; cursor: pointer;}
.manage_head li.hover { border-bottom: 2px #3cc0c4 solid; color: #3cc0c4;}
.manage_body { padding: 10px 0;}

/*table*/
.b_table { text-align: center;}
.b_table thead { height: 50px; line-height: 50px; background: #b6c2c9; color: #FFF;}
.b_table td { padding: 15px 10px;}
.tbg { background: #f7f8fc;}

/*简历模版*/
.formOption {
    border: 2px #ebeff1 solid;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}
.formOption li { width: 87px; height: 76px; display: inline-block; margin: 0 24px;}
.formOption li a {width: 87px; height: 76px; display: block; text-indent: -999px; overflow: hidden;}
.formOption li a.fo_1 { background: url(/assets/formOption.png) no-repeat 0px 0px;}
.formOption li a.fo_2 { background: url(/assets/formOption.png) no-repeat -117px 0px;}
.formOption li a.fo_3 { background: url(/assets/formOption.png) no-repeat -234px 0px;}
.formOption li a.fo_4 { background: url(/assets/formOption.png) no-repeat -350px 0px;}
.formOption li a.fo_5 { background: url(/assets/formOption.png) no-repeat -464px 0px;}
.formOption li a.fo_6 { background: url(/assets/formOption.png) no-repeat -582px 0px;}
.formOption li a.fo_7 { background: url(/assets/formOption.png) no-repeat -701px 0px;}

.template {
    border: 2px #3cc0c4 solid;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    float: left;
    width: 480px;
}
.temp_explain {float: left; margin-left: 50px;}

.info_bar, .radio_bar { padding: 10px; margin-bottom: 10px; position: relative; background: #fafafa; border-radius: 10px;}
.info_bar label {
    width: 100px;
    display: inline-block;
    text-align: right;
    height: 30px;
    line-height: 30px;
}
.info_bar input[type="text"], .radio_bar input[type="text"] {
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    border: 1px #dde2e7 solid;
    padding: 0 5px;
    width: 245px;
}

.radio_bar h2 { font-size: 16px; font-weight:normal; line-height: 32px;}

.radio_bar .cr_input { width: 50px; display: inline-block; text-align: right;}

.bar_list { margin: 10px 0;}

.tab_templateInfo_bar { margin: 10px 0; position: relative;}
.tab_templateInfo_bar label {
    width: 150px;
    display: inline-block;
    text-align: right;
    height: 30px;
    line-height: 30px;
    float: left;
}
.tab_templateInfo_bar input {
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    border: 1px #dde2e7 solid;
    padding: 0 5px;
    width: 245px;
}


/* 职位 */
.show_icon { background: url(/assets/actionIcon_1.png) no-repeat -12px center;}
.edit_icon { background: url(/assets/actionIcon_1.png) no-repeat -42px center;}
.delete_icon { background: url(/assets/actionIcon_1.png) no-repeat -73px center;}
.publish_icon { background: url(/assets/actionIcon_1.png) no-repeat -99px center;}
.have_publish_icon { background: url(/assets/actionIcon_2.png) no-repeat -99px center;}
.show_icon:hover { background: url(/assets/actionIcon_2.png) no-repeat -12px center;}
.edit_icon:hover { background: url(/assets/actionIcon_2.png) no-repeat -42px center;}
.delete_icon:hover { background: url(/assets/actionIcon_2.png) no-repeat -73px center;}
.publish_icon:hover { background: url(/assets/actionIcon_2.png) no-repeat -99px center;}

.num {
    background: #4dbd74;
    color: #fff;
    display: block;
    width: 30px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 8px;
    right: 8px;
}
.list li .jobClass { position: absolute; right: 10px; bottom: 30px; color:#b2b2b2;}

.see_job { width: 600px; overflow: hidden;}
.see_job ul { display: block; overflow: hidden;}
.see_job li {
    background: #fafafa;
    line-height: 24px;
    margin: 10px 0;
    border-radius: 10px;
    padding: 8px 15px;
}
.new_job { width: 600px; overflow: hidden;}
.new_job ul { }
.new_job li {
    line-height: 24px;
    border-radius: 10px;
    padding: 8px 15px;
    position: relative;
}
.new_job li input { background: #fafafa; padding: 6px; border: 1px solid #DDE2E7; border-radius: 5px;}
.new_job li textarea {
    background: #fafafa;
    resize: none;
    border: 0;
    width: 518px;
    height: 120px;
    border: 1px solid #DDE2E7;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

input.search { width: 250px;}
.inquire li button.searchBtn {
    display: block;
    border: 0;
    width: 30px;
    height: 30px;
    padding: 0;
    background: url(/assets/search.png) no-repeat 0 center #fff;
    position: absolute;
    top: 1px;
    right: 1px;
}
.positionPicker {
    float: right;
    width: 44px;
    height: 33px;
    border-radius: 5px;
    background: url(/assets/positionPicker.png) 1px 5px no-repeat #c8d2d7;
    position: relative;
    cursor: pointer;
}
.positionPicker.hover .pickerBox { display: block;}
.pickerBox { position: absolute; left: 50px; width: 270px; z-index: 99; display: none;}
.pickerBoxCorner {
    width: 21px;
    height: 31px;
    background: url(/assets/corner.png) no-repeat -6px 7px;
    position: absolute;
}
.pickerArea { border: 1px solid #DDE2E7; border-radius: 5px; margin-left: 20px;background: white;}
.pickerArea p { display: block; margin-top: 3px;}


/* 设置 */
.new_position { width: 560px;}
.new_position li {
    line-height: 24px;
    border-radius: 10px;
    padding: 8px 15px;
    position: relative;
    margin: 10px 0;
}
.new_position li label { width: 75px; text-align: right; display: inline-block;}
.new_position li input { background: #fafafa; padding: 6px; border: 1px solid #DDE2E7; border-radius: 5px;}

.setBox { border: 1px solid #dbdbdb; border-radius: 10px; margin: 10px; padding: 10px; overflow: hidden; margin-bottom: 30px;}
.setBox ul { float: left; width: 350px;}
.setBox li p { width: 300px; background: #f6f7f8; padding: 10px; border-radius: 5px; margin-bottom: 10px;}
.setBox li a.edit_icon  {
    width: 16px;
    height: 16px;
    text-indent: -999px;
    overflow: hidden;
    float: right;
    margin-top: -37px;
}
.setBox2 { float: left; margin-left: 70px;}
.setBox2 .cr_input { padding: 9px; margin-left: -45px; margin-bottom: 10px;}
.setBox2 .cr_input .checkbox { padding-left: 35px;}

.new_position.info { width: auto;}
.new_position.info li { margin: 0;}
.new_position.info label { width: 135px;}
.new_position.info input[type="text"] { width: 200px;}

.menuLv2_box { height: 200px; position: relative; overflow: hidden;}
.menuLv2_box span {
    background: url("../assets/menuLv2_span.png") no-repeat 70px 0;
    float: left;
    padding: 80px 60px 80px 0;
    width: 70px;
    text-align: center;
}
.menuLv2_box ul { position: absolute; bottom: 0;}
.menuLv2_box li { width: 120px;}
.menuLv2_box li p { line-height: 35px; margin: 5px; background: #d6dee2; text-align: center; border-radius: 3px;}
.menuLv2_box li a.add {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 28px;
    background: #e7ecee;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    margin: 0 auto;
}
.menuLv1_box { height: 30px; line-height: 30px; margin-bottom: 10px;}
.menuLv1_box span {
    float: left;
    width: 130px;
    text-align: center;
    margin: 5px;
}
.menuLv1_box ul { float: left; margin-left: 10px;}
.menuLv1_box li { width: 120px; float: left;}
.menuLv1_box li p { line-height: 35px; margin: 5px; background: #b6c2c9; text-align: center; border-radius: 3px;}
.menuLv1_box li a.add {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 28px;
    background: #e7ecee;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    margin: 5px;
}

.linkPicker li { border-radius: 0;}
.tab_1 { overflow: hidden;}
.tab_1 li { border-bottom: 1px solid #e4e9ed; float: left; width: 160px; text-align: center;}
.tab_1 li:hover,.tab_1 li.hover { border-bottom: 1px solid #3cc0c4;}
.tabDiv_1,.tabDiv_2 { display: none;}
.tabDiv_1.hover,.tabDiv_2.hover { display: block;}
.tabDiv_1 li { display: inline-block; margin: 10px 26px; text-indent: 20px; width: 200px; border-bottom: 1px solid #ebeff1;}

.tab_2 { overflow: hidden; border: 1px solid #f3f3f3; width: 516px; margin: 0 auto; border-radius: 5px; margin-top: 10px;}
.tab_2 li { border: 0; float: left; width: 172px; text-align: center; padding: 5px 0; margin: 0; text-indent: 0;}
.tab_2 li:hover,.tab_2 li.hover { background: #3bc0c3; color: #fff; border-radius: 5px; box-shadow: 0 0 1px rgba(0,0,0,0.3);}



/*placeholder*/
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ffffff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ffffff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ffffff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ffffff;
}








