<script src="/assets/My97DatePicker/WdatePicker.js" >
</script>

<div class="inquire">
  <ul>
    <form action="/companies/<%=@company.id%>/resumes/choice_position">
      <input type="hidden" name="status" value="<%=status%>" />
      <li>
        <div class="select_box">
          <div class="select_tag"><span>选择职位</span> <input name="position_name" type="text" value="0" class="tag_input"/></div>
          <ul class="select_ul">
            <%@positions.each do |position|%>
              <li><%=position.name%><input name="" type="text" value="<%=position.id%>"/></li>
            <%end%>
          </ul>
        </div>
      </li>
      <li>
        <%if @status == 0%>投递<%elsif @status == 1%>入职<%elsif @status == 2 %>面试<%else%>投递<%end%>时间从：
        <input name="start" type="text" placeholder="时间起" readonly onclick="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true})" />
      </li>
      <li>
        到：<input name="end" type="text"   placeholder="时间止" readonly onclick="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true})"/>
      </li>
      <li>
        <button type="button" onclick="search_positon_resumes(this)" class="orangeBtn">查询</button>
      </li>
    </form>
  </ul>
</div>
<script>
  select_init();
</script>
