
<div class="tab refuse" style="display:none;">
  <a href="#" class="close">close</a>
  <h1>拒绝简历</h1>
  <div class="tab_content">
    <div class="refuse_resume">
        	此简历已被拒绝， 可到“管理简历-已拒绝”面板中再次进行操作!
    </div>
  </div>
  <div class="tab_btn"><button>确定</button></div>
  <div class="tab_hint">
    <input name="" type="checkbox" value=""/><p>不再提示</p>
  </div>
</div>