<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <script src='/companies/jquery-1.8.3.js' type='text/javascript'></script>
    <script src='/companies/main2.js' type='text/javascript'></script>
    <link href='/companies/style2.css' rel='stylesheet' type='text/css' />
    <title>微招聘-简历前端</title>
  </head>
  <body>
    <div class='form_list'>


      <div class='imgItem itemBox'>
        <a href=''>图片上传</a>
        <img src='images/lionel.jpg' />
      </div>

      <div class='infoItem itemBox'>
        <div><label>ergwr</label><input type='text' /></div>
      </div>

      <div class='radioItem itemBox'>
        <div><span>我个人委托</span></div>
        <div><input type='radio' /><span>sa</span></div>
        <div><input type='radio' /><span>sa</span></div>
      </div>

      <div class='checkItem itemBox'>
        <div><span>我个人委托</span></div>
        <div><input type='checkbox' /><span>sa</span></div>
        <div><input type='checkbox' /><span>sa</span></div>
      </div>

      <div class='selectItem itemBox'>
        <label>fgd</label>
        <select>
          <option></option>
        </select>
      </div>

      <div class='txtItem itemBox'>
        <p>ewf</p>
      </div>

      <div class='form_btn'>
        <button>提交</button>
      </div>



    </div>
  </body>
</html>
