

<%if @exports.blank? %>
  <div style="text-align:center; font-size: 14px;margin-top: 50px;">
    暂无数据
  </div>
<%else%>

  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="b_table">
    <thead>
      <tr>
        <th>导出时间</th>
        <th>简历投递时间</th>

      </tr>
    </thead>
    <tbody>
       <%@exports.each do |export|%>
      <tr>
        <td><%= export.created_at.strftime('%Y-%m-%d %H:%M:%S').to_s %></td>
        <td>
          <%= export.begin_time.strftime('%Y-%m-%d  ').to_s  %>
          到
          <%= export.end_time.strftime('%Y-%m-%d  ').to_s  %></td>
      </tr>
    <%end%>

    </tbody>
  </table>

  
<%end%>
<div class="digg_pagination">
  <%=will_paginate @export,:previous_label=>'上一页',:next_label=>'下一页'%>
</div>