<div class="area">
  <div class="title clearAfter">
    <h1>导出简历</h1>
    <div class="seek">
      <div class="inquire">
        <ul>
          <li><label>开始时间：</label>
            <input type="text" class="start" readonly onclick="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true})" />
          </li>
          <li><label>结束时间：</label>
            <input type="text" class="end" readonly onclick="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true})" />
          </li>
          <li><button onclick="create_xsl_table(this,<%=@company.id%>)">导出</button></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="manage_body">
      <div>
        <%= render 'export_record' %>
      </div>
    </div>
  </div>
</div>

<script src="/assets/My97DatePicker/WdatePicker.js" >
</script>