
<div class="main_con2">
  <div>
    <div class="resumeDownloadTit">
      <div class="timer">
        <label>开始时间</label>
        <input type="text" class="start" readonly onclick="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true})" />
        <label>结束时间</label>
        <input type="text" class="end" readonly onclick="WdatePicker({dateFmt:'yyyy-MM-dd',autoPickDate:true})" />
        <button onclick="create_xsl_table(this,<%=@company.id%>)">导出</button>
      </div>
    </div>
    <div id="export_record">
      <%= render 'export_record' %>
    </div>
  </div>
</div>
<script src="/assets/My97DatePicker/WdatePicker.js" >
</script>